@font-face {
    font-family: Quicksand;
    src: url('Quicksand-Regular.woff') format('woff'),
         url('Quicksand-Regular.ttf') format('trutype');
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 90%;
    padding: 5px;
    color: #4E4443;
    background-color: #B3A797;
    font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    color: white;
    padding-right: 5px;
    line-height: 2em;
    font-size: large; background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    font-style: italic;   
}

h1 {
    font-size: x-large;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px black;
}

.navlink {
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 1px white;
    text-decoration: none;    
}

a.navlink:hover {
    font-size: x-large;
}

header {
    color: black;
}

footer {
    clear: left;
    border: 2px;
    float: left;
    width: 100%;
    color: white;
    padding: 2px;
    line-height: 1em;
    font-size: large; background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    font-style: italic;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 65%;
    background-color: #BBBDCA;
}

.right {
    width: 35%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img{
    display: block;
    margin-left: 5px;
    padding-bottom: 5px;
    margin-right: auto;
    border: 1px solid #ddd;
    width: 200px;
}